<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490875303349-2pspn1bm4rrk187cac5f6qpp7np258a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490875303349-2pspn1bm4rrk187cac5f6qpp7np258a8</string>
	<key>API_KEY</key>
	<string>AIzaSyBCY0W5r3HM7ecVJliGChSKIEq2EPlDAiE</string>
	<key>GCM_SENDER_ID</key>
	<string>490875303349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AlMedad.Wafid</string>
	<key>PROJECT_ID</key>
	<string>m-program</string>
	<key>STORAGE_BUCKET</key>
	<string>m-program.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490875303349:ios:39a86608059f73d75195fc</string>
	<key>DATABASE_URL</key>
	<string>https://m-program.firebaseio.com</string>
</dict>
</plist>